{% extends "root/home_base.html" %} 

{%block favourite%}

<h2>Create Folder</h2>
<a href="{% url 'create_folder' %}" class="btn btn-primary">Create</a>

<h2>Upload File</h2>
<a href="{% url 'all_files_create' %}" class="btn btn-primary">Upload</a>

<!-- 
<script>
  // Assuming you have a button with id "favoriteButton" and a data attribute "fileId" containing the file ID

  // Attach a click event handler to the favorite button
  $("#favorite-Button").on("click", function () {
    // Get the file ID from the data attribute
    var fileId = $(this).data("fileId");

    // Send an AJAX POST request
    $.ajax({
      url: "/favorite/" + fileId + "/", // The URL for the favorite toggle view
      type: "POST",
      dataType: "json",
      success: function (data) {
        // Handle the success response
        // Update the button appearance based on the favorite status
        if (data.is_favorite) {
          // File is marked as favorite
          $("#favoriteButton").addClass("favorite");
        } else {
          // File is not marked as favorite
          $("#favoriteButton").removeClass("favorite");
        }
      },
      error: function (xhr, status, error) {
        // Handle the error response
        console.log(error);
      },
    });
  });
</script> -->

<!-- <script>
  $(document).ready(function () {
    $("#favorite-button").click(function () {
      $(this).toggleClass("clicked");
    });
  });
</script> -->

{% endblock favourite %}
