* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #45bbff;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: #45bbff;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #45bbff;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}

.username-display {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .custom-width {
    width: 300px; /* Adjust the width as per your requirement */
  }
   



/* cards used in users page */
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
  }
  
  .account-img {
    height: 200px;
    width: 160px;
    margin-right: 20px;
    margin-bottom: 16px;
    border-radius: 10%;
  }

  /* .account-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  } */
  
  .account-heading {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .text-secondary {
    color: #888;
  }
  

  /* favourite button css */
  #favorite-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #favorite-button.clicked {
    background-color: purple;
  }
  